In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import pyplot
import matplotlib.pylab as plt

In [5]:
dat = pd.read_csv("twitter_release.csv")
dat['date'] = pd.to_datetime(dat['date'])
dat.head()

,Chinawords,Italywords,USwords,Outbreakwords,date,str_date,twitter_number
0,1,0,2,0,2020-01-21 22:00:00,01-21 22:00,68
1,4,0,2,0,2020-01-21 23:00:00,01-21 23:00,156
2,1,0,2,0,2020-01-22 00:00:00,01-22 00:00,129
3,0,0,1,0,2020-01-22 01:00:00,01-22 01:00,128
4,1,0,3,0,2020-01-22 02:00:00,01-22 02:00,243

In [9]:
release = dat.groupby(dat['date'].dt.date).agg(sum).reset_index()
release.to_csv("../twitter_0321.csv")